{% extends "base.html" %}
{% block content %}
    <h2>My Quizzes</h2>
    <a href="{{ url_for('create_quiz') }}"><button>Create New Quiz</button></a>

    {% if quizzes %}
        <ul>
        {% for q in quizzes %}
            <li>
                <strong>{{ q.title }}</strong>
                {% if q.description %}<p>{{ q.description }}</p>{% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven't created any quiz yet.</p>
    {% endif %}
{% endblock %}
